<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="angle_wp8" version="0.0.0.1" targetFramework="Native" />
  <package id="angle_wp8.redist" version="0.0.0.1" targetFramework="Native" />
  <package id="libcurl_wp8" version="0.0.0.2" targetFramework="Native" />
  <package id="libcurl_wp8.redist" version="0.0.0.2" targetFramework="Native" />
  <package id="libwebsockets_wp8" version="0.0.0.2" targetFramework="Native" />
  <package id="libwebsockets_wp8.redist" version="0.0.0.2" targetFramework="Native" />
</packages>